html[data-theme='dark'] {
    --bg-primary: #16202C;
    --bg-secondary: #192734;
    --text-primary: #FFFFFF;
    --text-secondary: #8899A6;
    --text-terciary: #4f6374;
    --button: #8899A6;
    --button-hover: #21A1F1;
    --window-height: 100%;
    height: var(--window-height);
    --plyr-color-main: #21A1F1;
}
body {
    background-color: var(--bg-primary);
    height: var(--window-height);
    margin: 0px;
}
#container1 {
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
    /* padding-right: 10%;
    padding-left: 10%; */
}
#container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container4 {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
label {
    color: var(--text-secondary);
    font-family: 'Segoe UI';
    font-weight: normal;
}
#search {
    background-color: var(--bg-secondary);
    border: none;
    box-shadow: 0 0 3px 0 var(--text-secondary);
    height: 30px;
    flex: 0.9;
    color: var(--text-primary);
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Segoe UI';
}
#search:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    border-color: var(--button-hover);
    box-shadow: 0 0 3px 0 var(--button-hover);
    border: none;
}
#buttonSearch, #buttonSwitch {
    background-color: var(--button);
    border: 1px solid var(--button);
    border-radius: 3px;
    color: var(--text-primary);
    font-weight: lighter;
    font-family: 'Segoe UI';
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#buttonSearch:hover, #buttonSwitch:hover {
    cursor: pointer;
    background-color: var(--button-hover);
    border: 1px solid var(--button-hover);
}
#buttonSearch:active, #buttonSwitch:active {
    box-shadow: 0 0 6px 0 var(--button);
    transition: 0.1s;
}
#buttonSearch:focus, #buttonSwitch:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
::-webkit-input-placeholder {
    color: var(--text-terciary);
 }
:-ms-input-placeholder {  
    color: var(--text-terciary);  
}
#forward, #backward {
    padding: 20px;
}
#forward:hover, #backward:hover {
    cursor: pointer;
}
#caption {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Segoe UI';
    font-weight: lighter;
    color: var(--text-primary);
    text-align: center;
}